@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
}

:root {
  --orange: #ffbd54;
  --text-color: #333;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  font-weight: 500;
}

.site-header__top {
  padding: 10px 0 9px 0;
  background-color: #f9f8f8;
  font-size: 14px;
}

.site-header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 194px;
}

.site-header__address {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.site-header__address::before{
  content: "";
  width: 14px;
  height: 13px;
  display: block;
  margin-right: 9px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


/* PHONES */
.phones {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.phones::before{
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  margin-right: 9px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.phones__item{
  position: relative;
}

.phones__item + .phones__item{
  margin-left: 22px;
}

.phones__item + .phones__item::before{
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: -11px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.phones__link {
  text-decoration: none;
  color: var(--text-color);
}

.phones__link:hover{
  color: var(--orange);
}

.phones__link:active{
  color: var(--text-color);
  opacity: 0.6;
}

.phones__column{
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.phones__column::before{
  position: absolute;
  left: -25px;
  top: 0;
}

.phones__column .phones__item{
  margin-left: 0;
}

.phones__column .phones__item::before{
  display: none;
}

.phones__column .phones__item + .phones__item{
  margin-top: 4px;
}


/* WORK-HOURS */
.work-hours {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.work-hours::before{
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  margin-right: 7px;
  background-image: url("../img/schedule.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.work-hours__item + .work-hours__item {
  margin-left: 17px;
}


/* SITE-HEADER BOTTOM */
.site-header__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  white-space: nowrap;
}

.site-header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  width: 178px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.logo__link {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo__link:hover{
  opacity: 0.8;
}

.logo__link:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
}

/* SITENAV */
.sitenav {
  margin-right: 20px;
  margin-left: 20px;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  margin-right: 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.site-nav__item {
  margin: 5px 27px;
}

.sitenav__item--active {
  display: flex;
  align-items: center;
}

.sitenav__item--active::before{
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: block;
  background-image: url("../img/active-fish.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

.sitenav__link::after{
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: transparent;
  z-index: 1;
  left: 0;
  bottom: 0;
  transition: background-color 0.3s ease;
}

.sitenav__link:hover::after{
  background-color: #F4FFAD;
}

.sitenav__link:active{
  opacity: 0.6;
}

.question-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.question-link::before{
  content: "";
  width: 23px;
  height: 21px;
  display: block;
  margin-right: 5px;
  background-image: url("../img/pet.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* SITE-MAIN */
.site-main{
  background-image: url("../img/background/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* INTRO-SECTION */
.intro {
  padding: 150px 0 290px 0;
  background-image: url("../img/intro-bg/intro-bg.png"),
                    url("../img/toti/toti.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 530px) -88px, calc(50% + 690px) 395px;
  background-size: auto 834px, auto 430px;
}

.intro__wrapper {
  width: 608px;
  margin-left: auto;
}

.intro__heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: #33899e;
}

.intro__span {
  color: #000;
}

.intro__text {
  max-width: 512px;
  margin: 0;
  margin-bottom: 40px;
  color: #949494;
}

.intro__link {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 48px;
  background-color: #333333;
  border-radius: 3px;
}

.intro__link:hover{
  color: #333;
  background: #FFBD54;
  border-radius: 3px;
}

.intro__link:active{
  opacity: 0.6;
}


/* QUOTE-SECTION */
.quote {
  width: 1134px;
  padding-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/catch/catch.png"),
  url("../img/catch-2/catch-2.png");
  background-repeat: no-repeat;
  background-size: auto 50px, auto 50px;
  background-position:  calc(50% - 460px) 40px, calc(50% + 460px) 128px;
}

.quote__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.quote__wrapper {
  width: 753px;
}

.quote__hr {
  width: 140px;
  background-color: #e4dede;
  margin-bottom: 35px;
  margin-top: 35px;
}

.quote__text {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.quote__title {
  margin: 0;
  order: 1;
}



.events {
  position: relative;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../img/events-bg/events-bg.png");
  background-position: center center;
  background-size: cover;
}

.events__img{
  position: absolute;
  z-index: 1;
  top: calc(50% - 276px);
  right: calc(50% - 675px);
}

.event__form{
  margin-left: 190px;
}

.events__heading {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.events__input {
  width: 355px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 22px;
  background: #FFFFFF;
  border: 2px solid transparent;
  margin-right: 21px;
  border-radius: 5px;
  outline: 0;
}

.events__input:focus{
  background: #FFFFFF;
  border: 2px solid #FFBD54;
  box-sizing: border-box;
  border-radius: 5px;
}

.events__input:not(:placeholder-shown):invalid{
  color: #DC4D41;
  background: #FFFFFF;
  border: 2px solid #DC4D41;
  border-radius: 5px;
}

.events__input:not(:placeholder-shown):valid{
  color: green;
  background: #FFFFFF;
  border: 2px solid green;
  border-radius: 5px;
}

.events__btn {
  border: none;
  font-weight: 500;
  color: #fff;
  padding: 15px 53px 14px 51px;
  background: #333333;
  border-radius: 3px;
}

.events__btn:hover{
  color: var(--text-color);
  background-color: #FFBD54;
  border-radius: 3px;
}

.events__btn:active{
  opacity: 0.6;
}


.intro__link:hover{
  color: #333;
}



























.contact-intro {
  padding-top: 110px;
  padding-bottom: 60px;
  background-image: url("../img/contact-bg/contact-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 590px);
  background-size: contain;
}

.contact-intro__wrapper {
  width: 656px;
}

.contact-intro__heading {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 70px;
  color: var(--text-color);
}

.contact-intro__text {
  width: 447px;
  margin: 0;
  margin-bottom: 117px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.contact-intro__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-intro__address-wrapper {
  width: 153px;
}

.contact-intro__address-wrapper::before{
  content: "";
  width: 73px;
  height: 73px;
  display: block;
  margin-bottom: 30px;
  background-image: url("../img/contact-location/contact-location.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.contact-intro__address {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color);
}

.contact-intro__work-hours--wrapper {
  width: 140px;
}

.contact-intro__work-hours--wrapper::before{
  content: "";
  width: 76px;
  height: 72px;
  display: block;
  margin-bottom: 26px;
  background-image: url("../img/contact-calendar/contact-calendar.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.contact-intro__work-hours--list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-intro__work-hours--item {
  margin-bottom: 12px;
}

.contact-intro__work-hours--day {
  color: var(--text-color);
}

.contact-intro__work-hours--time {
  font-weight: 500;
  color: var(--text-color);
}

.contact-intro__phones-wrapper {
  width: 130px;
}

.contact-intro__phones-wrapper::before{
  content: "";
  width: 46px;
  height: 73px;
  display: block;
  margin-bottom: 26px;
  background-image: url("../img/contact-phone/contact-phone.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.contact-intro__phones--list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-intro__phones--item {
  margin-bottom: 9px;
}

.contact-intro__phones--link {
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: var(--text-color);
}


/* CONTACT-SEARCH */
.contact-search{
  padding-bottom: 200px;
}

.contact-search__top-wrapper{
  position: relative;
  z-index: 1;
  width: 934px;
  padding-top: 264px;
  padding-bottom: 60px;
  margin-left: auto;
  background-image: url("../img/contact-search-bg/contact-search-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.contact-search__heading{
  margin: 0;
  margin-bottom: 3px;
  margin-top: 24px;
  margin-left: 87px;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: var(--text-color);
}

.contact-search__top-img{
  position: absolute;
  z-index: 13;
  left: calc(50% - 855px);
  top: calc(50% - 90px);
}

.contact-search__bottom-wrapper{
  display: flex;
  margin-left: -50px;
}

.contact-search__location-link{
  display: block;
}

.contact-search__img{
  height: 466px;
  display: block;
}



















/* SERVICES-PAGE */
.services-page {
  padding: 110px 0 140px 0;
  background-image: url("../img/bg-toti/bg-toti.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 460px);
}

.services-page__wrapper {
  width: 447px;
  margin-left: 112px;
}

.services-page__title {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 64px;
  font-size: 70px;
}

.services-page__title-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.services-page__list{
  padding: 0;
  margin: 0;
  margin-bottom: 168px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-page__item{
  position: relative;
  z-index: 1;
  width: 305px;
  background-color: #fff;
  padding: 59px 22px 45px 53px;
  margin-bottom: 33px;
  border-radius: 5px 5px 0px 0px;
  background-image: url("../img/panja/panja.png");
  background-repeat: no-repeat;
  background-size: 107px 95px;
  background-position: right top;
}

.services-page__item:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.services-page__item:nth-child(odd){
  background-image: url("../img/panja-blue/panja-blue.png");
}

.services-page__item::before{
  content: "";
  display: block;
  width: 78px;
  height: 78px;
  margin-right: auto;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.doctor-male::before {
  background-image: url("../img/services-icons/doctor-male.png");
}

.doctor-female::before {
  background-image: url("../img/services-icons/doctor-female.png");
}

.surgical-intervention::before {
  background-image: url("../img/services-icons/surgical-intervention.png");
}

.dermatology::before {
  background-image: url("../img/services-icons/dermatology.png");
}

.laboratory-diagnostics::before {
  background-image: url("../img/services-icons/laboratory-diagnostics.png");
}

.ophthalmology::before {
  background-image: url("../img/services-icons/ophthalmology.png");
}

.ultrasound-diagnostics::before {
  background-image: url("../img/services-icons/ultrasound-diagnostics.png");
}

.chipping::before {
  background-image: url("../img/services-icons/chipping.png");
}

.international-passports::before {
  background-image: url("../img/services-icons/international-passports.png");
}

.vaccination::before {
  background-image: url("../img/services-icons/vaccination.png");
}

.stomatology::before {
  background-image: url("../img/services-icons/stomatology.png");
}

.home-call-bug::before {
  background-image: url("../img/services-icons/home-call-bug.png");
}

.services-page__heading{
  margin: 0;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  color: #333333;
}

.services-page__text{
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.services-page__link{
  text-decoration: none;
  display: inline-block;
  padding: 15px 29px;
  color: #fff;
  border-radius: 3px;
}

.services-page__link::before{
  content: "";
  width: 100%;
  /* height: 100%; */
  position: absolute;
  display: block;
}

.services-page__item:nth-child(even) .services-page__link{
  background-color: #78C0DE;
}

.services-page__item:nth-child(odd) .services-page__link{
  background-color: #FFBD54;
}

.services-page__item:hover .services-page__link{
  background-color: #000;
}



/* SERVICES-OPEN */
.services-open{
  padding: 250px 0;
  background-image: url("../img/services-open-bg/services-open-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}




















































/* FAQ-SECTION */
.faq-section {
  padding-top: 110px;
  padding-bottom: 270px;
  background-image: url("../img/faq-section-bg/faq-section-bg.png"),
                    url("../img/faq-section-bg-2/faq-section-bg-2.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 495px) 50px, calc(50% + 440px) 960px;
  background-size: auto 466px, auto 652px;
}

.faq-section__intro {
  width: 500px;
  padding-bottom: 63px;
  margin-left: 100px;
}

.faq-section__heading {
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--text-color);
}

.faq-section__text {
  width: 477px;
  margin: 0;
  margin-bottom: 35px;
  font-weight: normal;
  line-height: 20px;
  color: #949494;
}

.faq-section__link {
  display: inline-flex;
  padding: 15px 38px;
  font-weight: 500;
  color: #FFFFFF;
  background: #78C0DE;
  border-radius: 3px;
}

.faq-section__link::before{
  content: "";
  width: 21px;
  height: 21px;
  display: block;
  margin-right: 9px;
  background-image: url("../img/document-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.faq-list {
  max-width: 752px;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  list-style-type: none;
}

.faq-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.faq {
  background-color: #fff;
  border-radius: 5px;
}

.faq__header {
  position: relative;
  z-index: 1;
  padding: 23px 41px 30px 63px;
}

.faq:nth-child(3n) .faq__header{
  opacity: 0.5;
}

.faq__header-top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.faq__header-top::before{
  content: "";
  width: 23px;
  height: 20px;
  display: block;
  margin-right: 6px;
  background-image: url("../img/faq-panja/faq-panja.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.faq:nth-child(even) .faq__header-top::before{
  content: "";
  width: 23px;
  height: 20px;
  display: block;
  margin-right: 6px;
  background-image: url("../img/faq-panja-blue/faq-panfa-blue.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.faq__time {
  font-size: 14px;
  line-height: 22px;
  margin-right: 28px;
}

.faq__person {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #78C0DE;
}

.faq__header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question {
  margin: 0;
  margin-right: 15px;
}

.faq__toggler{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.faq:nth-child(3n) .faq__toggler::after{
  content: "";
  width: 21px;
  height: 20px;
  display: block;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: rotate(180deg);
}

.faq__toggler::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: rotate(180deg);
}

.faq--open .faq__toggler::after{
  transform: rotate(0deg);
}

.faq__toggler::before{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.faq__toggler:focus::before{
  outline: auto;
}

.faq__collapse {
  display: none;
  padding: 0 41px 75px 63px;
}

.faq--open .faq__collapse{
  display: block;
}

.faq__answer-text {
  margin: 0;
}

.faq__answer-text:not(:first-child){
  margin-top: 20px;
}

















/* SITE-FOOTER */
.site-footer {
  padding-top: 62px;
  padding-bottom: 23px;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
}

.site-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer__logo-link {
  display: block;
  margin-right: 67px;
}

.site-footer__logo-link:hover{
  opacity: 0.8;
}

.site-footer__logo-link:active{
  opacity: 0.6;
}

.site-footer__logo-img {
  display: block;
}

.site-footer__list {
  width: 288px;
  padding: 0;
  margin: 0;
  margin-right: 110px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-footer__item {
  width: 50%;
  margin-bottom: 15px;
}

.site-footer__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}

.site-footer__link:hover{
  color: var(--orange);
}

.site-footer__link:active{
  color: rgba(51, 51, 51, 0.7);
}

.site-footer__work-hours--wrapper{
  display: flex;
  vertical-align: baseline;
  margin-right: 104px;
}

.site-footer__work-hours--wrapper::before{
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 10px;
  background-image: url("../img/schedule.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.site-footer__work-hours--list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-footer__work-hours--item {
  margin-bottom: 3px;
}

.site-footer__work-hours--day {
  font-size: 14px;
  line-height: 18px;
}

.site-footer__work-hours--time {
  font-weight: 500;
  font-size: 14px;
}

.site-footer__address-wrapper{
  display: flex;
  vertical-align: baseline;
  margin-right: 77px;
}

.site-footer__address-wrapper::before{
  content: "";
  width: 17px;
  height: 16px;
  display: block;
  margin-right: 9px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.site-footer__address {
  font-style: normal;
  color: var(--text-color);
  font-weight: 500;
  width: 157px;
}

.site-footer__phones-wrapper{
  display: flex;
  vertical-align: baseline;
}

.site-footer__phones-wrapper::before{
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 9px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.site-footer__phones--list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.site-footer__phones--item {
  margin-bottom: 5px;
}

.site-footer__phones--link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}

.site-footer__phones--link:hover{
  color: var(--orange);
}

.site-footer__text{
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  font-weight: normal;
  font-size: 14px;
  color: #5C5C5C;
}