<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
  <link rel="stylesheet" type="text/css" href="./design/main.css">
  <link rel="stylesheet" type="text/css" href="./design/normalize.css">
</head>
<body>

  <!-- SITE-HEADER -->
  <header class="site-header">
    <!-- site-header-top -->
    <div class="site-header__top">
      <div class="container site-header__top-container">
        <address class="site-header__address">г. Мариуполь, проспект Победы, 48а</address>

        <ul class="phones">
          <li class="phones__item">
            <a class="phones__link" href="tel:+0676347574">(067) 634 -75 - 74</a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0637570131">(0637) 57 - 01 - 31</a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0982664389">(098) 266 - 43 - 89</a>
          </li>
        </ul>
        <ul class="work-hours">
          <li class="work-hours__item">
            <b class="work-hours__day">Пн - Пт</b>
            <time class="work-hours__time" datetime="08:00">8:00</time> - <time class="work-hours__time" datetime="18:00">18:00</time>
          </li>
          <li class="work-hours__item">
            <b class="work-hours__day">Сб - Вс</b>
            <time class="work-hours__time" datetime="08:00">8:00</time> - <time class="work-hours__time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>
    </div>

    <!-- SITE-HEADER BOTTOM -->
    <div class="site-header__bottom">
      <div class="container site-header__bottom-container">
        <div class="logo">
          <a class="logo__link" href="index.html">
            <img class="logo__img" src="./logo.svg" alt="site logo" width="178" height="86">
          </a>
        </div>

        <nav class="sitenav">
          <ul class="sitenav__list">
            <li class="site-nav__item sitenav__item--active">
              <a class="sitenav__link" href="/">Главная</a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/about">О Клинике</a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/services">Наши Услуги</a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/blog">Полезные Статьи</a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/faq">FAQ</a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/contact">Контакты</a>
            </li>
          </ul>
        </nav>
        <a class="question-link">Задать вопрос</a>
      </div>
    </div>
  </header>

  <!-- SITE-MAIN -->
  <main class="site-main">

    <!-- SERVICES-PAGE -->
    <section class="services-page">
      <div class="container">
        <div class="services-page__wrapper">
          <h1 class="services-page__title">Наши услуги</h1>
          <p class="services-page__title-text">Узнать информацию о наших услугах, записаться на прием к врачу или проконсультироваться вы можете по телефону, в любое удобное для вас время.</p>
        </div>
      </div>
    </section><!-- SERVICES-PAGE -->

    <!-- SERVICES-PAGE-CONTENT -->
    <section class="services-page__content">
      <div class="container">
        <ul class="services-page__list">
          <li class="services-page__item doctor-male">
            <h3 class="services-page__heading">Первичный осмотр</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item doctor-female">
            <h3 class="services-page__heading">Первичный осмотр</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item surgical-intervention">
            <h3 class="services-page__heading">Хирургическое вмешательство</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item dermatology">
            <h3 class="services-page__heading">Дерматология</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item laboratory-diagnostics">
            <h3 class="services-page__heading">Лабораторная диагностика</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item ophthalmology">
            <h3 class="services-page__heading">Офтальмология</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item ultrasound-diagnostics">
            <h3 class="services-page__heading">УЗИ диагностика</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item chipping">
            <h3 class="services-page__heading">Чипирование</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item international-passports">
            <h3 class="services-page__heading">Международные паспорта</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item vaccination">
            <h3 class="services-page__heading">Вакцинация</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item stomatology">
            <h3 class="services-page__heading">Стоматология</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
          <li class="services-page__item home-call-bug">
            <h3 class="services-page__heading">Вызов на дом</h3>
            <p class="services-page__text">По условиям акции в нашей клинике предоставляетса безплатная услуга</p>
            <a class="services-page__link" href="/services-open">Узнать больше</a>
          </li>
        </ul>
      </div>
    </section> <!-- SERVICES-PAGE-CONTENT -->
  </main> <!-- SITE-MAIN -->

  <!-- SITE-FOOTER -->
  <footer class="site-footer">
    <div class="container site-footer__container">
      <a class="site-footer__logo-link" href="index.html">
        <img class="site-footer__logo-img" src="./logo.svg" alt="site logo" width="178" height="86">
      </a>
      <ul class="site-footer__list">
        <li class="site-footer__item">
          <a class="site-footer__link" href="/index">Главная</a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/about">О Клинике</a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/services">Наши Услуги</a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/blog">Полезные Статьи</a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/faq">FAQ</a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/contact">Контакты</a>
        </li>
      </ul>

      <div class="site-footer__work-hours--wrapper">
        <ul class="site-footer__work-hours--list">
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day">Пн - Пт</b>
            <time class="site-footer__work-hours--time" datetime="08:00">8:00</time> - <time class="site-footer__work-hours--time" datetime="18:00">18:00</time>
          </li>
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day">Сб - Вс</b>
            <time class="site-footer__work-hours--time" datetime="08:00">8:00</time> - <time class="site-footer__work-hours--time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>

      <div class="site-footer__address-wrapper">
        <address class="site-footer__address">г. Мариуполь, проспект Победы, 48а</address>
      </div>

      <div class="site-footer__phones-wrapper">
        <ul class="site-footer__phones--list">
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0676347574">(067) 634 -75 - 74</a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0637570131">(0637) 57 - 01 - 31</a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0982664389">(098) 266 - 43 - 89</a>
          </li>
        </ul>
      </div>
      <p class="site-footer__text">© 2020 example. All Rights Reserved.</p>
    </div>
  </footer>

  <!-- MODAL -->
  <section class="modal">
    <div class="modal-content">
      <div class="modal-dialog">
        <button class="close-buttton" type="button">X</button>
        <div class="modal-dialog__left-box">
          <h3 class="modal-dialog__left-heading">Авторизация:</h3>
          <a class="modal-dialog__left-link google" href="#">Войти через Google</a>
          <a class="modal-dialog__left-link facebook" href="#">Войти через Facebook</a>
        </div>
        <div class="modal-dialog__right-box">
          <h3 class="modal-dialog__right-heading">Задать вопрос</h3>
          <form class="modal-dialog__form" action="https://echo.htmlacademy.ru">
            <input class="modal-dialog__input" type="text" name="name" aria-label="enter your name" placeholder="Ваше имя" required>
            <div class="modal-dialog__textarea-box">
              <textarea class="modal-dialog__textarea" name="message" aria-label="enter your message" cols="30" rows="7" placeholder="Опишите Ваш вопрос." required></textarea>
              <div class="modal-dialog__textarea-inner-box">Например: в каком возрасте можно прививать от бешенства?</div>
            </div>
            <button class="modal-dialog__button" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </section><!-- MODAL -->

  <!-- JS -->
  <script>
    var elModalToggler = document.querySelector('.question-link');
    var elModal = document.querySelector('.modal');
    var elModalClose =document.querySelector('.close-buttton');

    elModalToggler.addEventListener('click', function (){
      elModal.classList.add('modal--open');
    });

    elModalClose.addEventListener('click', function () {
      elModal.classList.remove('modal--open');
    });
  </script><!-- JS -->

</body>
</html>